* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    padding:5px;
}

.content-table {
    width: 100%;
    height: 100%;
    border: 1px solid #95B8E7;
    overflow: hidden;
}

.content-table-title {
    width: 100%;
    background: #E0ECFF;
    padding: 5px;
    text-indent: 1em;
    font-size: 12px;
    font-weight: bold;
    color: #0E2D5F;
    height: 16px;
    line-height: 16px;
}

#data-table {
    background: #ccc;
    width: 100%;
    table-layout: fixed;
}

td, .data-table tr th {
    background: #fff;
    text-align: center;
}

#data-table tr td, #data-table tr th {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.xzzt {
    background: #ccc;
}

#qx {
    width: 15px;
}

#tc {
    left: 50%;
    top: 50%;
    background-color: #E0ECFF;
    overflow: hidden;
    border-color: #95B8E7;
    display: none;
    z-index: 9001;
    padding: 5px;
    position: absolute;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#tc .tc-title {
    font-size: 12px;
    font-weight: bold;
    color: #0E2D5F;
    height: 18px;
    line-height: 18px;
}

#tc .tc-content {
    overflow: hidden;
    border: 1px solid #95B8E7;
    height: 90%;
    width: 100%;
    background: #fff;
}

#tc #tc-close {
    background: url('../img/panel_tools.png') no-repeat -16px 0px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    z-index: 9002;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0;
}

#tc #tc-data {
    display: none;
}
.buttons{
    padding:10px;
}
.data-rqxz{
    border: 1px solid #95B8E7;
    height: 19px;
}